<header class="store-header" style="background-color: #ffffff; border-bottom: 1px solid #eee;">
    <div id="header-mainbar" class="header-mainbar py-2">
        <div class="container">
            <div class="flex items-center justify-between">
                
                <!-- اليسار: سلة ومستخدم -->
                <div class="flex items-center space-x-3 rtl:space-x-reverse">
                    <salla-cart-summary class="header-icon-button"></salla-cart-summary>
                    {% if user.type == 'user' %}
                        <salla-user-menu></salla-user-menu>
                    {% else %}
                        <a class="header-icon-button login-button" onclick="salla.event.dispatch('login::open')"></a>
                    {% endif %}
                </div>

                <!-- اليمين: بحث -->
                <div class="flex-grow pl-4">
                    <salla-search class="search-bar" id="header-search" style="height: 35px; width: 100%;" inline></salla-search>
                </div>
                
            </div>
        </div>
    </div>
</header>
